.header {
    display: grid;
    grid-template-columns: 40% 20% 40%;
    min-height: 105px;
    margin: 62px 24px 92px 24px;
}

.menu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    list-style-type: none;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    min-width: 390px;
    padding: 42px 0 0 25px;
}

.menu-link-active {
    text-decoration: none;
}

.menu-link::before {
    content: url('../images/list_marker.svg');
    width: 7px;
    margin: 0 11px 0 14px;
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 30px;
    height: 105px;
    width: 148px;
}

.contacts {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.3px;
    letter-spacing: 0.01em;
    text-align: left;
    padding: 6px 0 0 153px;
}

.cover {
    background-image: url("../images/cover.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: rgba(255, 255, 255, 1);
    min-height: 757px;
}

.overlay {
    inset: 0;
    background-color: rgb(0 0 0 / 0.5);
}

.cover__title {
    z-index: 1;
    padding: 165px 50px 118px 50px;
    text-transform: uppercase;
    font-size: 100px;
    text-align: left;
    font-weight: 700;
    line-height: 115px;
    letter-spacing: 0.3em;
}

.aligned-text {
    display: block;
}

.aligned-text_center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 12px;
    margin-left: -58px;
}

.aligned-text_right {
    display: flex;
    flex-direction: row;
    justify-content: right;
    padding-top: 5px;
}

.letter-spacing-extended {
    letter-spacing: 0.6em;
}

.no-letter-spacing {
    letter-spacing: 0em;
}

.cover__description {
    z-index: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    padding: 10px 50px 50px 78px;
}

.cover__description-text {
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    word-spacing: 0.8em;
}

.bet-button {
    border: 1px solid rgba(255, 255, 255, 1);
    color: rgba(255, 255, 255, 1);
    background-color: transparent;
    font-size: 22px;
    font-weight: 500;
    line-height: 26px;
    text-transform: uppercase;
    padding: 12px 31px 12px 31px;
}

.lots {
    margin: 179px 24px 146px 24px;
    min-height: 692px;
}

.lots__heading {
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
    text-align: left;
    text-transform: uppercase;
    padding-left: 40px;
    padding-bottom: 27px;
}

.lots__card-list {
    display: flex;
    list-style-type: none;
    gap: 25px;
    padding-bottom: 30px;
}

.lots__card-list-item {
    display: flex;
    flex-grow: 1;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 334px;
    min-height: 563px;
    width: 100%;
    color: white;
}

.card_type_film {
    position: relative;
    background-image: url("../images/card-lot-01.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.card_type_book {
    background-image: url("../images/card-lot-02.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.card_type_picture {
    background-image: url("../images/card-lot-03.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.card .overlay {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 563px;
    width: 100%;
    height: 100%;
}

.card__title {
    margin: 53px 40px 0px 40px;
    text-decoration: underline;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
    text-align: left;
}

.card__text {
    margin: 0 40px 47px 40px;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
}

.lots__look-more-link {
    margin: 0px 0px 0px 40px;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    text-align: left;
    border-bottom: 1px solid #000000;
    text-decoration: none;
}

.about {
    display: grid;
    grid-template-columns: 30% 70%;
    min-height: 595px;
    margin: 0px 24px 160px 24px;
}

.about__column1 {
    display: grid;
    grid-template-rows: repeat(3, 33%);
    margin: 35px 0 0 47px;
}

.about__logo {
    width: 240px;
    height: 240px;
    background-color: black;
    border-radius: 125px;
}

.about__logo-image {
    margin: 64px 45px 64px 45px;
    width: 148px;
    height: 114px;
}

.about__column2 {
    display: flex;
    flex-direction: column;
    margin-top: 133px;
    padding-left: 42px;
}

.about__title {
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
    text-align: left;
    margin-bottom: 100px;
    text-transform: uppercase;
}

.about__text {
    padding-bottom: 24px;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.01em;
    text-align: left;
}

.footer {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    margin: 0 50px 88px 50px;
}

.address {
    display: flex;
    flex-direction: column;

    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.01em;
    text-align: left;
}

.footer__menu-list {
    text-align: center;
    list-style-type: none;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
}

.footer__menu-link {
    color: black;
}

.footer__menu-link_active {
    text-decoration: none;
}

.footer__social-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style-type: none;
    column-gap: 48px;
    margin-right: -10px;
}

.footer__social-icon {
    height: 48px;
}